<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("/assets/teik.jpeg", id: "logo"), root_path %>
		</div>
  </div>
</header>